html {
    font-family: sans-serif;
    line-height: 1.15;
}


body {
    width: 100%;
    background-color: #333333;
    font-size: 15px;
    position: relative;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    min-height: 100vh; /* 最小高度 100% 视窗高度 */
    padding-bottom: 30px;
}

div {
    margin: 0px;
}

a {
    text-decoration: none;
}

button[role="tab"]:focus,
button[role="tab"]:hover {
    color: #1b1b1b;
}

button[role="tab"] {
    background-color: transparent;
    color: #4E4E4E;
    padding: .5em 30px;
    border: 0 none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 3px solid transparent;
    border-bottom-color: transparent;
    font-size:  18px;
    cursor: pointer;
}

button[aria-selected="true"] {
    color: #0085F2;
    border-bottom-color: #0085F2;
}

footer{
    position: absolute; /* 放到页面最底部 */
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: rgb(10, 5, 48);
    display: flex;
    justify-items: center;
    align-items: center;
}