/* block styling */

.navbar {
    background-color: #003366;
    position: relative;
    display: flex;
    align-items: center;
    height: 58px;
    justify-content: flex-start;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-container {
    max-width: 1280px;
    margin: 0px auto;
}
.nav-link {
    margin: 0px 5px;
}

.nav-brand {
    margin-right: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #ccc;
}

