#image-panel {
    width: 100%;
    height: 100%;
}

#overlay-canvas {
    width: 100%;
    height: 100%;
}

#xcoordinate {
    width: 100%;
    height: 100%;
}

#ycoordinate {
    width: 100%;
    height: 100%;
}