.lm_item_left {
    flex-basis: 0px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;

}

.lm_item_right {
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
    flex-grow: 1;

}

.lm_splitter_vertical {
    /* width: 5px; */
    flex-basis: 5px;
}

.lm_splitter_horizontal {
    flex-basis: 5px;
}

.lm_header {
    flex-basis: 20px;
    /* border: 1px solid #bfccd6; */
    /* border-radius: 0 4px 4px 4px; */
    /* padding-bottom: 5px; */
    box-sizing: initial !important;
    padding-top: 1px;
}

.lm_body {
    flex-basis: 0px;
    flex-grow: 1;
    border: 1px solid #bfccd6;
    border-radius: 0 4px 4px 4px;

}

.lmtabs {
    position: absolute;
    padding: 0;
}

.lm_tab {
    border: 1px solid #bfccd6;
    background: #f5f8fa;
    color: #106ba3;
    border-radius:  4px 4px 0 0;
    display: inline-block;
    left: -2px;
    height: 21px;
    padding-top: 1px;
    padding-bottom: 5px;
    border-bottom: none;
}

.tab_title {
    /* padding-top: 1px; */
    margin: 0 10px;
    /* padding-bottom: 5px; */
}

#file_container {
    flex-basis: 0px;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
}

#histogram-container {
    flex-basis: 0px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

#x-profile-container {
    flex-basis: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#y-profile-container {
    flex-basis: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#info-container {
    flex-basis: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}