<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../lib/bootstrap5/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/analysisView/index.css">
<link rel="stylesheet" href="../style/analysisView/glview.css">

<body class="" style="background-color: rgb(255,255,255);">
    <div id="root">
        <div class="App">
            <div class="root-menu">
                <span class="menu-item">
                    文件
                </span>
            </div>
            <div class="gl-container-app">
                <div class="lm_item_left" >
                    <div id="file_container" >
                        <div class="lm_header" >
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                   <span class="tab_title">Loaded image</span> 
                                </li>
                            </ul>
                        </div>
                        <div class="lm_body">

                        </div>
                    </div>
                    <div class="lm_splitter_horizontal"></div>
                    <div id="histogram-container" >
                        <div class="lm_header" >
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                   <span class="tab_title">Render Configuration</span> 
                                </li>
                            </ul>
                        </div>
                        <div class="lm_body" >

                        </div>
                    </div>
                </div>
                <div class="lm_splitter_vertical">
                </div>
                <div class="lm_item_right">
                    <div id="x-profile-container">
                        <div class="lm_header" >
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                  <span class="tab_title">X Profile: Cursor</span>  
                                </li>
                            </ul>
                        </div>
                        <div class="lm_body" >

                        </div>

                    </div>
                    <div class="lm_splitter_horizontal"></div>
                    <div id="y-profile-container">
                        <div class="lm_header" >
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                   <span class="tab_title">Y Profile: Cursor</span> 
                                </li>
                            </ul>

                        </div>
                        <div class="lm_body" >

                        </div>

                    </div>
                    <div class="lm_splitter_horizontal"></div>
                    <div id="info-container">
                        <div class="lm_header" >
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                    <span class="tab_title">Image Info</span>
                                </li>
                            </ul>

                        </div>
                        <div class="lm_body" >

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>