<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../lib/bootstrap5/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/analysisView/index.css">
<link rel="stylesheet" href="../style/analysisView/glview.css">
<link rel="stylesheet" href="../style/analysisView/container.css">

<body class="" style="background-color: rgb(255,255,255);">
    <div id="root">
        <div class="App">
            <div class="root-menu">
                <span class="menu-item">
                    文件
                </span>
            </div>
            <div class="gl-container-app">
                <div class="lm_item_left">
                    <div id="file_container">
                        <div class="lm_header">
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                    <!-- <span class="tab_title">Loaded image</span> -->
                                    <span class="tab_title">ODACH_DSRT05_SRSP_L1_05M_20220212081001_V01.01.fits</span>
                                </li>
                            </ul>
                        </div>
                        <div class="lm_body">
                            <div id="image-panel">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../lib/konva/konva.js"></script>
        <script src="../lib/echarts/echarts.min.js"></script>
        <script>
            /**  colorMaps copy from dpusersrc_4.1/dpusersrc/QFitsView/lut.cpp */
            // void init_colormaps(void) {
            //  type_singlecolormap map;

            //     for (int value = 0; value < 256; value++) {
            //         map.red[value] = value;
            //         map.green[value] = value;
            //         map.blue[value] = value;
            //     }
            //     mapcolors["gray"] = map;

            //     for (int value = 0; value < 256; value++) {
            //         if (value < 128) {
            //             map.red[value] = value;
            //             map.green[value] = 0;
            //             map.blue[value] = 0;
            //         } else if (value < 192) {
            //             map.red[value] = value;
            //             map.green[value] = (value - 128) * 2;
            //             map.blue[value] = 0;
            //         } else {
            //             map.red[value] = value;
            //             map.green[value] = (value - 128) * 2;
            //             map.blue[value] = (value - 192) * 3;
            //         }
            //     }
            //     mapcolors["bb"] = map;

            //     for (int value = 0; value < 256; value++) {
            //         map.red[value] = value;
            //         map.green[value] = 0;
            //         map.blue[value] = 0;
            //     }
            //     mapcolors["red"] = map;

            //     for (int value = 0; value < 256; value++) {
            //         map.red[value] = 0;
            //         map.green[value] = value;
            //         map.blue[value] = 0;
            //     }
            //     mapcolors["green"] = map;

            //     for (int value = 0; value < 256; value++) {
            //         map.red[value] = 0;
            //         map.green[value] = 0;
            //         map.blue[value] = value;
            //     }
            //     mapcolors["blue"] = map;

            // }
            const stage = new Konva.Stage({
                container: 'image-panel',
                width: 1600,
                height: 900
            });

            // 2 create layer
            const layer = new Konva.Layer();
            stage.add(layer);




            Promise.all([fetch('/data/2020/speov/mmindata.bin', {
                method: 'get',
                responseType: 'arraybuffer'
            }), fetch('/data/2020/speov/mmintime.bin', {
                method: 'get',
                responseType: 'arraybuffer'
            })]).then(
                res => {
                    return { data: res[0].arrayBuffer(), time: res[1].arrayBuffer() }
                }
            ).then(
                async res => {
                    let dataarray = await res.data.then(value => {
                        return value
                    })
                    let timearray = await res.time.then(value => {
                        return value
                    })

                    dataarray = new Uint8Array(dataarray)

                    timearray = new Float32Array(timearray)

                    return { time: timearray, data: dataarray }
                }
            ).then(
                oneProjResponse => {
                    // console.log(oneProjResponse)
                    let time = oneProjResponse.time
                    let data = oneProjResponse.data
                    let width = time.length
                    let height = data.length / width
                    var canvas = document.createElement('canvas');
                    canvas.width = width
                    canvas.height = height
                    var ctx = canvas.getContext('2d');


                    let catx = ctx.getImageData(0, 0, ctx.canvas.width, ctx.canvas.height)
                    let imdata = catx.data

                    let newdata = data
                    console.log(newdata)

                    for (let j = 0; j < height; ++j) {
                        for (let i = 0; i < width; ++i) {
                            let value = newdata[(j * width + i)]

                            if (value < 128) {
                                imdata[(j * width + i) * 4] = value;
                                imdata[(j * width + i) * 4 + 1] = 0;
                                imdata[(j * width + i) * 4 + 2] = 0;
                                imdata[(j * width + i) * 4 + 3] = 255
                            } else if (value < 192) {
                                imdata[(j * width + i) * 4] = value;
                                imdata[(j * width + i) * 4 + 1] = (value - 128) * 2;
                                imdata[(j * width + i) * 4 + 2] = 0;
                                imdata[(j * width + i) * 4 + 3] = 255
                            } else {
                                imdata[(j * width + i) * 4] = value;
                                imdata[(j * width + i) * 4 + 1] = (value - 128) * 2;
                                imdata[(j * width + i) * 4 + 2] = (value - 192) * 3;
                                imdata[(j * width + i) * 4 + 3] = 255
                            }
                            // imdata[(j * width + i) * 4] = newdata[(j * width + i)]
                            // imdata[(j * width + i) * 4 + 1] = newdata[(j * width + i)]
                            // imdata[(j * width + i) * 4 + 2] = newdata[(j * width + i)]
                            // imdata[(j * width + i) * 4 + 3] = 255
                        }
                        
                        ctx.putImageData(catx, 0, 0)
                        
                    }

                    var Img = new Konva.Image({
                        name: 'image',
                        image: canvas,
                        x: stage.width() / 2 - width / 2,
                        y: stage.height() / 2 - height / 2,
                        width: width * 2,
                        height: height * 5,
                        draggable: true,
                        stroke: (223, 222, 222),
                        strokeWidth: 0,
                        dash: [10, 10],
                    });

                    Img.on('mousedown', function (e) {
                        // console.log(e.target.getRelativePointerPosition())
                        x = e.target.getRelativePointerPosition().x
                        y = e.target.getRelativePointerPosition().y
                        
                        // x = Math.floor(x)
                        // y = Math.floor(y)
                        
                        x = Math.floor(x/2)
                        y = Math.floor(y/5)
                        console.log(x,y)

                        console.log(newdata[y*width+x])
                    })

                    layer.add(Img);

                    layer.draw();

                }
            )



        </script>
</body>

</html>