<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../lib/bootstrap5/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/analysisView/index.css">
<link rel="stylesheet" href="../style/analysisView/glview.css">
<link rel="stylesheet" href="../style/analysisView/container.css">

<body class="" style="background-color: rgb(255,255,255);">
    <div id="root">
        <div class="App">
            <div class="root-menu">
                <span class="menu-item">
                    文件
                </span>
            </div>
            <div class="gl-container-app">
                <div class="lm_item_left">
                    <div id="file_container">
                        <div class="lm_header">
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                    <!-- <span class="tab_title">Loaded image</span> -->
                                    <span class="tab_title">ODACH_DSRT05_SRSP_L1_05M_20220212081001_V01.01.fits</span>
                                </li>
                            </ul>
                        </div>
                        <div class="lm_body">
                            <div id="image-panel">

                            </div>
                            <div id="colorbar-stage">

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../lib/konva/konva.js"></script>
        <script src="../lib/echarts/echarts.min.js"></script>
        <script>
            /**  colorMaps copy from dpusersrc_4.1/dpusersrc/QFitsView/lut.cpp */

            const stage = new Konva.Stage({
                container: 'image-panel',
                width: document.getElementById('image-panel').clientWidth,
                height: document.getElementById('image-panel').clientHeight
            });
            console.log(stage.width)

            // 2 create layer
            const layer = new Konva.Layer();
            stage.add(layer);

            Promise.all([
                fetch('/data/2020/speov/mmindata.bin', { method: 'get', responseType: 'arraybuffer' }),
                fetch('/data/2020/speov/mmintime.bin', { method: 'get', responseType: 'arraybuffer' }),
                fetch('/data/2020/speov/mminfrequency.bin', { method: 'get', responseType: 'arraybuffer' })
            ]).then(([data, time, frequency]) => {
                return { data: data.arrayBuffer(), time: time.arrayBuffer(), frequency: frequency.arrayBuffer() };
            }).then(res => {
                return Promise.all([
                    res.data.then(value => new Uint8Array(value)),
                    res.time.then(value => new Float32Array(value)),
                    res.frequency.then(value => new Float32Array(value))
                ]);
            }).then(([data, time, frequency]) => {
                return { time, data, frequency };
            }).then(
                oneProjResponse => {
                    let time = oneProjResponse.time;
                    let data = oneProjResponse.data;
                    let frequency = oneProjResponse.frequency;
                    let width = time.length;
                    let height = data.length / width;
                    const canvas = document.createElement('canvas');
                    canvas.width = width;
                    canvas.height = height;
                    const ctx = canvas.getContext('2d');

                    const imageData = ctx.createImageData(width, height);
                    const pixelData = imageData.data;

                    for (let j = 0; j < height; j++) {
                        for (let i = 0; i < width; i++) {
                            const value = data[j * width + i];
                            if (value < 128) {
                                pixelData[(j * width + i) * 4] = value;
                                pixelData[(j * width + i) * 4 + 1] = 0;
                                pixelData[(j * width + i) * 4 + 2] = 0;
                                pixelData[(j * width + i) * 4 + 3] = 255;
                            } else if (value < 192) {
                                pixelData[(j * width + i) * 4] = value;
                                pixelData[(j * width + i) * 4 + 1] = (value - 128) * 2;
                                pixelData[(j * width + i) * 4 + 2] = 0;
                                pixelData[(j * width + i) * 4 + 3] = 255;
                            } else {
                                pixelData[(j * width + i) * 4] = value;
                                pixelData[(j * width + i) * 4 + 1] = (value - 128) * 2;
                                pixelData[(j * width + i) * 4 + 2] = (value - 192) * 3;
                                pixelData[(j * width + i) * 4 + 3] = 255;
                            }
                        }
                    }

                    ctx.putImageData(imageData, 0, 0);

                    const konvaImg = new Konva.Image({
                        name: 'image',
                        image: canvas,
                        x: 0,
                        y: 0,
                        width: stage.width(),
                        height: stage.height(),
                        // draggable: true,
                        stroke: 'rgb(223, 222, 222)',
                        strokeWidth: 0,
                        dash: [10, 10],
                    });

                    konvaImg.on('mousedown', (e) => {
                        const x = Math.floor(e.target.getRelativePointerPosition().x / 2);
                        const y = Math.floor(e.target.getRelativePointerPosition().y / 5);
                        console.log(data[y * width + x]);
                    });

                    layer.add(konvaImg);
                    layer.draw();

                }
            ).catch(error => {
                console.error('An error occurred:', error);
            });

        </script>
</body>

</html>