<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../lib/bootstrap5/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/analysisView/index.css">
<link rel="stylesheet" href="../style/analysisView/glview.css">
<link rel="stylesheet" href="../style/analysisView/container.css">

<body class="" style="background-color: rgb(255,255,255);">
    <div id="root">
        <div class="App">
            <div class="root-menu">
                <span class="menu-item">
                    文件
                </span>
            </div>
            <div class="gl-container-app">
                <div class="lm_item_left">
                    <div id="file_container">
                        <div class="lm_header">
                            <ul class="lmtabs">
                                <li class="lm_tab">
                                    <!-- <span class="tab_title">Loaded image</span> -->
                                    <span class="tab_title">ODACH_DSRT05_SRSP_L1_05M_20220212081001_V01.01.fits</span>
                                </li>
                            </ul>
                        </div>
                        <div class="lm_body">
                            <div>
                                <div id="image-panel">
                                    
                                </div>
                            </div>
                            <div id="colorbar-stage">

                            </div>
                            <canvas id="overlay-canvas"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../lib/konva/konva.js"></script>
        <script src="../lib/echarts/echarts.min.js"></script>
        <script src="../widgets/ImageContainer/axis.js"></script>
</body>

</html>