html {
    background-color: yellow;
    font-size: 10px;
}

body {
    width: 800px;
    margin: 0 auto;
}

aside {
    border-right: 5px solid black;
}

aside div {
    margin-bottom: 20px;
}
main {
    border: 5px solid black;
    display: flex;
    height: 600px;
    flex: 3;
}


aside {
    flex: 3;
    border: 5px solid black;
    height: 200px;
    border-top: 0;
}

button {
    background: black;
    color: yellow;
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
    width: 201.5px;
}

button[role="tab"]:focus, 
button[role="tab"]:hover {
    color: #1b1b1b;
}
button[aria-selected="true"] {
    border-bottom-color: #0085F2;
}